# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**
* List popular languages for Data Science
* List the commonly used libraries by Data Scientists
* Development Environment Open-Source Data Science tools
* Arthimetic operations
* Minutes to Hours conversion

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

#### Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. pandas
3. matplotlib
4. seaborn
5. scikit-learn
6. tensorflow

| Data Science Tools |
|--------------------|
|My SQL|
|Jupyter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
mins=200
hours=mins/60
hours

3.3333333333333335

## Author
Nivedha A